<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<div>
			<div>
				<table>
					<tr>
						<th>Member Name</th>
						<th>Amount</th>
						<th>Give/Take</th>
						<th>Status</th>
					</tr>
					<tr>
						<td>Isha</td>
						<td>300</td>
						<td>
							<a href="">Give/Take</a>
						</td>
						<td>Remaining</td>
					</tr>
					<tr>
						<td>Manjusha</td>
						<td>400</td>
						<td>
							<a href="">Give/Take</a>
						</td>
						<td>Done</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>