<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<div>
			<div>
				<button>Add Trip</button>
			</div>
			<div>
				<table>
					<tr>
						<th>Trip Name</th>
						<th>Total Members</th>
						<th>Total Expenses</th>
						<th>Status</th>
					</tr>
					<tr>
						<td>Goa</td>
						<td>8</td>
						<td>1000</td>
						<td>Remaining</td>
					</tr>
					<tr>
						<td>Katraj</td>
						<td>6</td>
						<td>800</td>
						<td>Done</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>